* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    width: 100%;
}

.menu>li {
    position: relative;
    z-index: 1;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: #eee7e7;
    font-family: 'Open sans';
    text-decoration: none;
    text-size-adjust: 16%;
}

.menu li a:hover {
    color: #CE7D35;
    transition: all .3s;
}


/* Submenu*/

.submenu {
    position: absolute;
    z-index: 1;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li:hover .submenu {
    z-index: index;
    visibility: visible;
    opacity: 1;
}